<mat-toolbar class="justify-between max-w-7xl mx-auto border-x">
    <a routerLink="home">Estore</a>
    <!-- matMenuTriggerFor used to trigger the menu once the button is clicked -->
    <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon
         [matBadge]='itemQuantity' matBadgeColor="warn"
         [matBadgeHidden]="!itemQuantity">
        shopping_cart</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        <!-- p-3 provide paddign everwhere divide y provide seperation and solid line for seperation -->
    <div class="p-3 divide-y divide-solid">
        <div class="pb-3 flex justify-between">
                 <span class="mr-16">{{itemQuantity}} item</span>
                 <a routerLink="cart">View Cart</a>
            </div>
            <div *ngIf="cart.items.length" class ="py-3">
                <div class="flex justify-between font-light mb-2" 
                *ngFor="let item of cart.items">
                    {{item.name}} x {{item.quantity}}
                    <span class="font-bold">{{item.price| currency}}</span>
                </div>
            </div>
            <div class="flex justify-between py-3 font-light">
                Total:
                <span class="font-bold">{{ getTotal(cart.items) |currency}}</span>
            </div>
            <div class="pt-3 flex justify-between">
                <button (click)="onClearCart()" class ="bg-rose-600 text-white rounded-full w-9 h-9">
                    <mat-icon>remove_shopping_cart</mat-icon>
                </button>
                <button  (click)="onCheckout()" class="bg-green-600 text-white rounded-full w-9 h-9"
        >
          <mat-icon>shopping_cart_checkout</mat-icon>
        </button>
            </div>
        </div>
    </mat-menu>
</mat-toolbar>